.navbar{
  background-color: white;
}

.head {
display: grid;
grid-template-columns: auto auto auto;
padding-top: 50px;
}
.carts{
  width: 400px;
  text-align: center;
  background-color:rgba(240, 234, 234, 0.85);
  margin: 10px;
  border-radius: 30px;
  img{
    width: 80%;
  }
  button{
    width: 220px;
    background-color: rgb(202, 247, 158);
  }
}
.pop {
  
  opacity: 0;}